<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eddy Mogollon</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/d319f3a5da.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body data-spy="scroll" data-target=".navbar">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">EM</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="assets/Resume_Eddy_Mogollon.pdf" target="_blank">Resume</a></li>

        </ul>
      </div>

    </div>
   
  </nav>

  <header id="home">
    <h1>Hi, I am Eddy!</h1>
    <p>I'm a software developer looking to create awesomeness.</p>
  </header> 

  <div id="about" class="container-fluid">

    <h2>About</h2>

    <p><span class="intro">My name is Eddy Mogollon</span> and I am a self-taught web developer and computer science student originally from Venezuela and currently based in Miami, FL. 
    Creating software is pretty cool, so I plan to keep programming for a long time ;)</p>

    <p>I am a Junior at Florida International University, majoring in Computer Science. Also, I am working through the curriculum over at FreeCodeCamp, polishing my front-end web skills and improving the back-end development with Node.js.</p>

    <p>I love problem solving and reading and learning about a bunch of stuff, but especially science and programming. My goals are to advance my career, build great products, and eventually master my craft.
    I want my skills and knowledge in technology to solve real world challenges. When I am not immersed in all things web, I can be found listening to music, learning (human) languages or just eating arepas!</p>

  </div>

  <div id="portfolio">
    <div class="container-fluid">
      <h2>Portfolio</h2>
      <h3>This section is under construction.</h3>

      <div class="row">

        <div class="col-sm-4">

          <a href="pokebot" target="_blank">
            <div class="image-container">
              <img class="img-fluid" src="img/pokebot.png" />
              <div class="after"><p>Allows a user to pass a url as a parameter and the app will respond with a shortened version of the url. (Node.js, Express.js and MongoDB)</p></div>
            </div>
            <figcaption>FB Pokemon Bot</figcaption>
          </a>
          

        </div>
        <div class="col-sm-4">
          <a href="url" target="_blank">
            <div class="image-container">
              <img class="img-fluid" src="img/url.png" />
              <div class="after"><p>Allows a user to pass a url as a parameter and the app will respond with a shortened version of the url. (Node.js, Express.js and MongoDB)</p></div>
            </div>
            <figcaption>URL Shortener</figcaption>
          </a>
          

        </div>
        <div class="col-sm-4">
          <a href="gameoflife" target="_blank">
            <div class="image-container">
              <img class="img-fluid" src="img/gameoflife.png" />
              <div class="after"><p>Cellular automaton game, a collection of cells which, based on a few mathematical rules, can live, die or multiply, simulating life. (HTML, CSS, SCSS, JavaScript and React)</p></div>
            </div>
            <figcaption>Game of Life</figcaption>
          </a>
          
        </div>
        
       

      </div>
    </div>
  </div>

  <footer id="contact" class="footer">
    <div class="container-fluid">
      <h2>Let's get in touch!</h2>
      <div class="row icons">
<!--    <a href="" target="_blank" class="fa fa-envelope"></a> -->
        <a href="https://www.linkedin.com/in/eddymogollon" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://github.com/Eddymogollon" target="_blank" class="fa fa-github-alt"></a>
      </div>
      <h5>Email: eddymogs@gmail.com</h5>
      <br />
    </div>
  </footer>

  <script type="text/javascript" src="script.js"></script>

  </body>
</html>

